%h1= 'Search Results for ' + @search_terms
= link_to 'Back', '/'
%table#tmdb_movies
    %thead
        %tr
            %th No.
            %th Movie Poster
            %th Movie Title
            %th Release Date
    %tbody
        = render :partial=>'tmdb_movie', :collection=>@movies 